# exclude everything
*

# now reinclude needed stuff
# git stuff
!**/.gitignore

# CMake
!**/CMakeLists.txt
!**/cmake/
!**/cmake/*

# sources
!**/src/
!**/src/*
!**/headers/
!**/headers/*
!headers/picotls
!headers/picotls/*
!headers/quicly
!headers/quicly/*

# build script
!**/setup.sh

